@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";
@media (-moz-platform: windows) {
    .titlebar-button {
        border: none;
        margin: 0 7px !important;
        padding: 1px 3px !important;
        width: 25px !important;
        height: 25px !important;
        background-color: transparent !important;
        -moz-content-properties: none !important;
        stroke: none !important;
    }

    :root[tabsintitlebar] #titlebar .titlebar-buttonbox-container {
        display: flex;
        justify-content: center;
        align-items: center;
        top: 15px !important; /* Adjust this to move buttons upwards or downwards */
    }

    :root[tabsintitlebar][sizemode="maximized"] .titlebar-buttonbox {
        top: 1px;
        left: 10px;
    }

    .titlebar-buttonbox-container, #PanelUI-button {
        padding-top: 0 !important;
    }

    .titlebar-buttonbox {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

    :root[tabsintitlebar]:not([sizemode="maximized"]) #titlebar .titlebar-buttonbox-container {
        top: 17px !important;
        padding: 2px 0 0 8px !important;
       
    }
    :root[tabsintitlebar][inFullscreen]  #titlebar .titlebar-buttonbox-container{
    margin-top: -34px;
    margin-bottom: 44px !important;
    order: 0 !important;
    }

    tab {
        font-weight: normal !important;
    }

    :root[tabsintitlebar][sizemode="maximized"] .titlebar-buttonbox {
        top: 1px;
        left: 10px;
    }

    .titlebar-buttonbox-container, #PanelUI-button {
        padding-top: 0 !important;
    }


    #titlebar .titlebar-button.titlebar-close {
        order: -1;
    }

    .titlebar-button {
        background-color: transparent !important;
    }

    #nav-bar {
        padding-left: 75px !important;
    }
    
    .PanelUI-subView{
        background: var(--gnome-menu-background) !important;
    }
